<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
</head>
<body>
<th:block th:include="/fragments/menu"></th:block>
<h2>Welcome : <span th:utext="${message}"></span></h2>
<div>
    <div>
        <h2 th:if="${bicycles eq null or bicycles.empty}">No bicycles yet!</h2>
        <div th:if="${bicycles ne null}">
            <h2>bicycles</h2>
            <table>
                <thead>
                <tr>
                    <th>Bicycle_name</th>
                    <th>Brand_name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bike : ${bicycles}">
                    <td th:text="${bike.bicycleName}"></td>
                    <td th:text="${bike.brandName}"></td>
                    <td><a th:href="@{/edit/{id}(id=${bike.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${bike.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/new">Add</a></p>
    </div>
</div>
</body>
</html>